{\rtf1}
@font-face{
	font-family: 'SegoeWPN';
	src: url(fonts/SegoeWPN.ttf);
}

.evr{
	margin: auto;
	width: 1250px;
	/*background-image: url(Background.png);*/
	background-repeat: no-repeat;
}

.menu{
	height: 90px;
	width: 1250px;
	background-color: white;
}

.top{
	height: 750px;
	width: 1250px;
	overflow: hidden;
}

.menu-left{
	max-width: 537px;
	max-height: 90px;
	float: left;
}

.menu-left img{
	margin-top: 20px;
}

.menu-right{
	width: 543px;
	height: 90px;
	float: right;
}

.menu-right li{
	float: left;
	list-style: none;
}

.menu-right a{
    font-size: 20.35px;
    transition: 0.5s;
    line-height: 90px;
    text-decoration: none;
    margin-right: 30px;
    color: #6c6c6c;
    padding-bottom: 17px;
}

.menu-right a:hover{
	border-bottom: 1px solid #5094f2;
}


.slick-block{
	max-height: 578px;
	max-width: 1250px;
	position: relative;
}

.backg img{
	width: 100%;
}



.backg-text-one{
	position: absolute;
 font-size: 42px;
  top: 234px;
    left: 631px;
    color: white;
    font-family: 'SegoeWPN';

}

.backg-text-two{
	position: absolute;
	font-size: 26px;
	color: white;	
	top: 318px;
	left: 631px;
	width: 270px;
	height: 79px;
	font-family: 'SegoeWPN';

}

.main{
	width: 1250px;
	height: 349px;
	overflow: hidden;
}

.main-blocks{
	width: 1000px;
	height: 349px;
	margin: auto;
	margin-top: 75px;
}

.block-one{
	    width: 331px;
    height: 349px;
    float: left;
    
}

.block-one p{
text-align: center;
font-family: 'SegoeWPN';
}

.block-one img{
	    margin-left: 73px;
}
.block-two{
	width: 331px;
    height: 349px;
    float: left;
}

.block-two p{
text-align: center;
font-family: 'SegoeWPN';
}

.block-two img{
 margin-left: 73px;
}
.block-three{
	width: 331px;
	height: 349px;
	float: left;
}

.block-three p{
text-align: center;
font-family: 'SegoeWPN';
}

.block-three img{
	 margin-left: 73px;
}

.block-text{
	color: #5094f2;
	font-size: 20px;
}

.block-text-two{
	color: #909090;
	font-size: 14px;

}

.butt{
	position: absolute;
	height: 42px;
	width: 174px;
	background-color: #5094f2;
	top: 444px;
    left: 632px;
}

.butt a{
	font-size: 22px;
    color: white;
    line-height: 40px;
    float: right;
    margin-right: 12px;
    text-decoration: none;
}

.butt img{
	max-width: 23px;
	max-height: 23px;
	position: absolute;
	top: 9px;
    left: 12px;
}


.bottom{
	width: 1250px;
	height: 503px;
	overflow: hidden;
}

.bottom-one p{
	font-size: 42px;
	color: #6f7173;
	font-family: 'SegoeWPN';
}

.bottom-one {
	height: 408px;
    width: 360px;
    float: left;
}

.bottom-two{
	height: 298px;
    width: 467px;
    float: left;
    margin-top: 100px;
    margin-left: 83px;
}

.bottom-two-text{
	color: #6f7173;
	font-size: 26px;
	font-family: 'SegoeWPN';
}

.bottom-two-text-two{
	color: #909090;
	font-size: 15px;
    line-height: 2;
    font-family: 'SegoeWPN';
}

@media screen and (max-width: 678px){

	.main{
        width: 614px;
	}

	.evr{
		max-width: 640px;
	}
    .menu-left{
    	width: 232px;
    	margin: auto;
    	float: none;
    	overflow: hidden;
    }
    .menu-right{
    	width: 640px;
    	margin: auto;
    	float: none;
    	overflow: hidden;
    }
    .menu {
    height: 160px;
    width: 640px;
   }
   .slick-slider {
   	max-width: 640px;
   }
   .slick-slider img {
   	max-width: 630px;
   }

   .main-blocks{
   	margin: 0;
   	margin-top: 30px;
   	min-height: 791px;
   	overflow: hidden;
   	margin-left: 30px;
   	width: 614px;
   	margin-right: 0;
   }


   .block-one{
   	width: 572px;
   	float: none;
   	overflow: hidden;
   	margin-left: 0;
   	height: 223px;
   	border-bottom: 1px solid #cccccc;
   	margin-right: 0;
   }
   .block-one img{
   	float: left;
   	margin-left: 0;
   }
   .block-one p{
   	float: left;
   	margin-left: 20px;
   	text-align: left;
   	width: 364px;
   }

    .block-two{
   	width: 572px;
   	float: none;
   	overflow: hidden;
   	margin-left: 0;
   	height: 223px;
   	margin-top: 53px;
   	border-bottom: 1px solid #cccccc;
    margin-right: 0;
   }
   .block-two img{
   	float: left;
   	margin-left: 0;
   }
   .block-two p{
   	float: left;
   	margin-left: 20px;
   	text-align: left;
   	width: 364px;
   }

    .block-three{
   	width: 570px;
   	float: none;
   	overflow: hidden;
   	margin-left: 0;
   	height: 223px;
   	margin-right: 0;
   	margin-top: 53px;
   }
   .block-three img{
   	float: left;
   	margin-left: 0;
   }
   .block-three p{
   	float: left;
   	margin-left: 20px;
   	text-align: left;
   	width: 364px;
   }

   .main{
   	width: 1250px;
    height: 827px;
    overflow: hidden;
   }

   .bottom-one p{
    text-align: center;
    width: 640px;
}
    .bottom-one{
    	width: 640px;
    }

    .bottom-one img{
    	margin-left: 200px;
        width: 245px;
    }
    
    .backg-text-one{
        font-size: 30px;
        top: 28px;
        left: 302px
    }

    .backg-text-two{
    	font-size: 22px;
        top: 89px;
        left: 306px;
    }

    .butt{
    height: 53px;
    width: 237px;
    top: 215px;
    left: 315px;
    }
    
    .butt a{
    	font-size: 31px;
        line-height: 48px;
    }

    .butt img{
    	top: 14px;
        left: 21px;
        width: 29px;
    }

    .bottom-two-text{
        font-size: 34px;
        position: absolute;
        left: 54px;
        top: 1631px;
    }

    .bottom-two-text-two{
    	position: absolute;
        top: 1715px;
        left: 54px;
    }

}
/*
.top{
	margin: auto;
	width: 1251px;
	height: 90px;
	background-color: #313030;
}
.menu{
	width: 400px;
	height: 90px;
	margin: auto;
}
.menu li{
	font-size: 14px;
	color: white;
	margin: 15px;
	float: left;
	list-style: none;
}

.menu ul{
margin: 0;
padding: 0;

}

.menu a{
	text-align: center;
   line-height: 60px;
   font-size: 14px;
   color: white;
   font-family: 'Open Sans', sans-serif;
   text-decoration: none;
   transition: 0.5s;
   display: block;
}

.menu a:hover{
	background-color: red;
}
